.about {
    background: linear-gradient(to bottom, rgba(211, 211, 211, 0.3) 0%, white 50%);    
    display: flex;
    position: relative;
    margin-bottom: 135px;

    &-img {
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        bottom: 0;

        background: url("../design/illustration-2.png") bottom left no-repeat;
        background-size: 100% auto;
    }

    &-content {
        margin-top: 100px;
        display: flex;
        flex-direction: column;    
    }

    &-title {
        @include text-font-styles(500, 35px, 50px);
        color: $color-black;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    &-subtitle {
        @include text-font-styles(400, 16px, 30px);
        color: $color-gray;
        margin-bottom: 20px;
    }

    &-list {
        list-style: none;
        padding: 0;

        &__item {
            @include text-font-styles(400, 14px, 30px);
            color: $color-gray;
            display: flex;
            align-items: center;
    
            &::before {
                content: url("../design/icon-tick-circle.svg");
                width: 30px;
                height: 30px;
            }
        }
    }

}

@media screen and (min-width: 800px) {
    .about {
        justify-content: flex-end;

        &-img {
            left: 0;
            right: 60%;
        }
    
        &-content {
            flex-basis: 50%;
        }        
    }
}
