body {
    font-family: "Rubik", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (min-width: 450px) {
    .container {
        padding: 20px 50px;
    }
}

@media screen and (min-width: 850px) {
    .container {
        padding: 30px 100px;
    }
}

@media screen and (min-width: 1300px) {
    .container {
        padding: 50px 150px;
    }
}

$color-black: #0B132A;
$color-gray: #4F5665;
$color-red: #F53838;

@mixin text-font-styles ($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

%btn {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

%hover-scale {
    transform: scale(1.1);
    transition: 0.3s;
}

.btn-small {
    @extend %btn;
    @include text-font-styles(500, 16px, 19px);
    color: $color-black;

    width: 150px;
    padding: 11px 0;
    border: 1px solid #FFF;
    border-radius: 50px;

    &:hover {
        border-color: #F53855;
        color: #F53855;        
    }
}

.btn-normal {
    @extend %btn;
    @include text-font-styles(700, 16px, 19px);
    color: $color-red; 

    width: 170px;
    padding: 11px 0;
    border: 2px solid $color-red;
    border-radius: 50px;

    &:hover {
        @extend %hover-scale;
        background: $color-red;
        color: #FFF;
        box-shadow: 0 12px 10px 0 rgba(245, 56, 56, 0.35);
    }    
}

.btn-wide {
    @extend %btn;
    @include text-font-styles(700, 16px, 25px);
    color: $color-red; 

    width: 250px;
    padding: 15px 0;
    border: 2px solid $color-red;
    border-radius: 10px;

    &:hover {
        @extend %hover-scale;
        background: $color-red;
        color: #FFF;
        box-shadow: 0 12px 10px 0 rgba(245, 56, 56, 0.35);
    }
}

@import "header";
@import "promo";
@import "about";
@import "tariffs";
@import "network";
@import "customers";