body {
  font-family: "Rubik", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 450px) {
  .container {
    padding: 20px 50px;
  }
}
@media screen and (min-width: 850px) {
  .container {
    padding: 30px 100px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    padding: 50px 150px;
  }
}
.btn-wide, .btn-normal, .btn-small {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

.header-menu__item:hover, .logo:hover, .btn-wide:hover, .btn-normal:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.btn-small {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0B132A;
  width: 150px;
  padding: 11px 0;
  border: 1px solid #FFF;
  border-radius: 50px;
}
.btn-small:hover {
  border-color: #F53855;
  color: #F53855;
}

.btn-normal {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #F53838;
  width: 170px;
  padding: 11px 0;
  border: 2px solid #F53838;
  border-radius: 50px;
}
.btn-normal:hover {
  background: #F53838;
  color: #FFF;
  box-shadow: 0 12px 10px 0 rgba(245, 56, 56, 0.35);
}

.btn-wide {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #F53838;
  width: 250px;
  padding: 15px 0;
  border: 2px solid #F53838;
  border-radius: 10px;
}
.btn-wide:hover {
  background: #F53838;
  color: #FFF;
  box-shadow: 0 12px 10px 0 rgba(245, 56, 56, 0.35);
}

.logo {
  display: flex;
  align-items: center;
}
.logo::before {
  content: url("../design/icon-logo.png");
  width: 40px;
  height: 40px;
}
.logo__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0B132A;
}
.logo__text--bold {
  font-weight: 700;
}
.logo:hover .logo__text {
  color: #F53838;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  flex-grow: 1;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-menu__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4F5665;
  margin: 10px 20px;
}
.header-menu__item:hover {
  color: #F53838;
}

.header-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header-buttons__btn {
  margin: 10px;
}

.promo {
  margin-top: 100px;
}

.promo-main {
  display: flex;
  position: relative;
}

.promo-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  z-index: -1;
  background: url("../design/illustration-1.png") bottom right no-repeat;
  background-size: 100% auto;
}

.promo-content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .promo-content {
    flex-basis: 50%;
  }
}
.promo-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
  margin-bottom: 20px;
}

.promo-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 25px;
}

.promo-btn {
  margin: 25px 0;
}

.promo-statistics {
  margin-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.promo-statistics-col {
  flex-grow: 1;
  display: flex;
  margin: 20px;
}

.promo-statistics-icon-server, .promo-statistics-icon-location, .promo-statistics-icon-user {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin-right: 35px;
}

.promo-statistics-icon-user {
  background: url("../design/icon-user.svg") center no-repeat;
}

.promo-statistics-icon-location {
  background: url("../design/icon-location.svg") center no-repeat;
}

.promo-statistics-icon-server {
  background: url("../design/icon-server.svg") center no-repeat;
}

.promo-statistics-text {
  display: flex;
  flex-direction: column;
}

.promo-statistics-maintext {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}

.promo-statistics-subtext {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}

@media screen and (min-width: 1000px) {
  .promo-statistics {
    margin-top: 100px;
  }
}
.about {
  background: linear-gradient(to bottom, rgba(211, 211, 211, 0.3) 0%, white 50%);
  display: flex;
  position: relative;
  margin-bottom: 135px;
}
.about-img {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background: url("../design/illustration-2.png") bottom left no-repeat;
  background-size: 100% auto;
}
.about-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.about-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  margin-top: 50px;
  margin-bottom: 20px;
}
.about-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 20px;
}
.about-list {
  list-style: none;
  padding: 0;
}
.about-list__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  display: flex;
  align-items: center;
}
.about-list__item::before {
  content: url("../design/icon-tick-circle.svg");
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 800px) {
  .about {
    justify-content: flex-end;
  }
  .about-img {
    left: 0;
    right: 60%;
  }
  .about-content {
    flex-basis: 50%;
  }
}
.tariffs {
  background: linear-gradient(to bottom, rgba(211, 211, 211, 0.3) 0%, white 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tariffs__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  padding-top: 80px;
  padding-bottom: 20px;
}
.tariffs__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
  text-align: center;
  padding-bottom: 40px;
}

.tariff-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tariff__icon-standart, .tariff__icon-free {
  display: inline-block;
  width: 150px;
  height: 170px;
}

.tariff {
  border: 2px solid #DDD;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tariff__col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tariff__icon-free {
  background: url("../design/icon-tariff-free.png") center no-repeat;
}
.tariff__icon-standart {
  background: url("../design/icon-tariff-standard.png") center no-repeat;
}
.tariff__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  padding: 30px 0;
}
.tariff-list {
  list-style: none;
  padding: 0;
}
.tariff-list__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  display: flex;
  align-items: center;
}
.tariff-list__item::before {
  content: url("../design/icon-tick.svg");
  width: 30px;
  height: 30px;
}
.tariff__price {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
  padding-bottom: 20px;
  margin-top: 50px;
}
.tariff__price--opacity {
  opacity: 0.5;
}
.tariff:hover {
  border-color: #F53838;
}

@media screen and (min-width: 800px) {
  .tariff {
    padding: 50px;
  }
}
.network {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.network__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  max-width: 385px;
}
.network__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
  padding-top: 20px;
}
.network-map {
  margin-top: 70px;
}
.network-map__img {
  display: block;
  width: 100%;
}
.network-sponsors {
  margin-bottom: 50px;
}
.network-sponsors__img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .network-map {
    margin-top: 150px;
  }

  .network-sponsors {
    margin-bottom: 100px;
  }
}
.customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.customers__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  max-width: 450px;
}
.customers__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
  padding-top: 20px;
}

.customers-box {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.customer {
  margin: 20px 10px;
  padding: 30px;
  box-sizing: border-box;
  border: 2px solid #DDD;
  border-radius: 10px;
  text-align: left;
  max-width: 400px;
}
.customer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.customer-col {
  display: flex;
  align-items: center;
}
.customer-box {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.customer__img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.customer__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}
.customer__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}
.customer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
}
.customer__icon {
  background: url("../design/icon-star.svg") center no-repeat;
  width: 30px;
  height: 30px;
}
.customer:hover {
  border-color: #F53838;
}

/*# sourceMappingURL=style.css.map */
